{% extends 'base.html' %}
{% block pagetitle %}
Working
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>💻How it works!💻</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">Methodology</p>
    </div>
</div>






<div class="row p-5 laptop">
  <div class="row p-5 laptop">
  <div class="col">
    <div class="p-3 bg-white shadow rounded-lg" style="width: 90%; height: 92%;">
      <h2>Upload Your Image</h2>
      <p>Simply upload a photo of your affected crop to our website using any device: phone, tablet, or computer.</p>
    </div>
  </div>
  <div class="col">
    <div class="p-3 bg-white shadow rounded-lg" style="width: 90%; height: 92%;">
      <h2>Instant Analysis</h2>
      <p>Our advanced machine learning model quickly analyzes the image to identify the specific disease or pest affecting your crop.</p>
    </div>
  </div>
  <div class="col">
    <div class="p-3 bg-white shadow rounded-lg" style="width: 90%; height: 92%;">
      <h2>Detailed Diagnosis</h2>
      <p>Receive a detailed report outlining the detected issue, including symptoms and recommended treatments.</p>
    </div>
  </div>
</div>

</div>

{% endblock body %}